{% extends "layout.html" %}

{% block pageTitle %}
  About the organisation - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl">CHARITY TC088</span>
  <dl>
    <span class="govuk-caption-xl">HMRC charities reference: XR4010
    </span>
  </dl>
  <h1 class="govuk-heading-xl">Organisation and agent details</h1>
  <h2 class="govuk-heading-l">Organisation details</h2>

  <form class="form" action="/repayment-claim-summary" method="post" id="about-organisation-form">

    <!-- Who should HMRC send the payment to? -->

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-label govuk-label--s">
          Who should HMRC send the payment to?
        </legend>
        <p class="govuk-error-message" id="name-charity-regulator-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Select if the payment should be sent to the charity/CASC or agent/nominee.
        </p>
        <div class="govuk-radios govuk-!-margin-top-1"  data-module="govuk-radios" >
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="payment-send-1" name="payment-send-1" type="radio" value="The charity or CASC">
            <label class="govuk-label govuk-radios__label" for="payment-send-1">
              The charity or CASC
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="payment-send-2" name="payment-send-2" type="radio" value="The agent or nominee">
            <label class="govuk-label govuk-radios__label" for="payment-send-2">
              The agent or nominee
            </label>
          </div>
        </div>
      </fieldset>
      <details class="govuk-details govuk-!-margin-top-1" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Help about: Who should the payment be sent to?
          </span>
        </summary>
      <div class="govuk-details__text">

        <p class="govuk-!-font-weight-bold">
          Payment to a charity or CASC
        </p>
        <p>
          HMRC will make the payment via Bacs into the account that they currently have on record for the organisation you are making the claim for.
        </p>
        <p>
          If the bank account details of an organisation are not the same as the details in HMRC records, the organisation must update the details before you make the claim. An organisation can do this by submitting <a href="https://www.gov.uk/government/publications/charities-change-of-details-form-chv1">a change of details form (ChV1)</a> at least 30 days before you make the claim.
        </p>
        <p>
          If bank account details are not up to date, this could delay the payment or result in the payment going into the wrong bank account.
        </p>

        <p class="govuk-!-font-weight-bold">
          Payment to an agent or nominee
        </p>
        <p>
          HMRC can only make a payment into the account of an agent or nominee if the organisation has authorised it.
        </p>
        <p>
          If not, then the payment will be made into the organisations bank account.
        </p>
      </div>
      </details>
    </div>

    <!-- Name of charity regulator -->

    <div class="govuk-form-group" id="name-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="name-charity-regulator-select">
        Name of charity regulator
      </label>
      <p class="govuk-error-message" id="name-charity-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Select the charity regulator you are registered with, or if you are not registered.
      </p>
        <select class="govuk-select" id="name-charity-regulator-select" name="name-charity-regulator-select" onchange="charityRegulatorNoneFieldsOnChange(this)">
          <option value="default" selected>Please select</option>
          <option value="england-wales" >Charity Commission for England and Wales</option>
          <option value="northern-ireland">Charity Commission for Northern Ireland</option>
          <option value="scottish-charity-regulator">Office of the Scottish Charity Regulator</option>
          <option value="none">None</option>
        </select>
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What if I am a CASC?
          </span>
        </summary>
      <div class="govuk-details__text">
        <p>
          Community Amateur Sports Clubs (CASCs) are not regulated by an external organisation. Therefore, CASCs should always select 'None' from the drop-down list.
        </p>
      </div>
      </details>
    </div>

  <div id="number-charity-regulator-fields" style="display: block">

    <!-- Charity regulator's number -->

    <div class="govuk-form-group" id="number-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="number-charity-regulator">
        Charity regulator number
        </label>
        <p class="govuk-error-message" id="number-charity-regulator-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Enter the charity registration number for your organisation.
        </p>
        <div id="event-name-hint" class="govuk-hint">
          Enter the numerical characters only of the registration number the charity regulator issued to you. This is not the HMRC charities reference number.
        </div>
      <input class="govuk-input" id="number-charity-regulator-input" name="number-charity-regulator" type="text">
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help about: Charity regulator number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            The registration number from the regulator will be on any paperwork received from that regulator.
          </p>
          <p> If the charity is dual registered, you can either:</p>
          <ul class="govuk-list govuk-list--bullet">
             <li>include a registration number used in previous correspondence with HMRC</li>
             <li>complete and submit <a href="https://www.gov.uk/government/publications/charities-change-of-details-form-chv1">a change of details form (ChV1)</a> with this information before making your claim.</li>
          </ul>
        </div>
      </details>
    </div>
  </div>

  <div id="charity-regulator-none-fields" style="display: none">

    <!-- Provide a reason for not being registered with a regulator: -->

    <div class="govuk-form-group" id="reason-not-registered-regulator-group">
      <label class="govuk-label govuk-label--s" for="reason-not-registered-regulator-select">
        Provide a reason for not being registered with a regulator
      </label>
      <p class="govuk-error-message" id="reason-not-registered-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Select a reason for not being registered with a regulator.
      </p>
        <select class="govuk-select" id="reason-not-registered-regulator-select" name="name-charity-regulator-select">
          <option value="default" selected>Please select</option>
          <option value="less-than-5000">Your charity is located in England or Wales and your income is less than £5,000 per year</option>
          <option value="excepted">Your charity is Excepted</option>
          <option value="exempt">Your charity is Exempt</option>
          <option value="northern-ireland">Your charity is based in Northern Ireland and you are awaiting registration with the CCNI</option>
        </select>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Who is eligible for no registration with a charity regulator?
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              You are excepted if income is £100,000 or less and your charity is in one of the following groups:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>churches or chapels belonging to some Christian denominations</li>
               <li>charities that provide premises for some types of school</li>
               <li>Scout and Guide groups</li>
               <li>charitable service funds of the armed forces</li>
               <li>student unions</li>
            </ul>
            <p>
              You are exempt from registering with the relevant regulator because you are:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>an educational institution such as a university, school or connected institution </li>
               <li>a museum or gallery, as defined in the Charities Act</li>
               <li>a housing association registered under the Co-operative and Community Benefit Societies Act (CCBS) and/or the CU Act 1965</li>
            </ul>
            <p>
              You can apply directly to HMRC for recognition as a charity for tax purposes, if you are:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>excepted from registration with a charity regulator</li>
               <li>exempt from registration with a charity regulator</li>
               <li>your organisation is established in a country where there is no charity regulator</li>
            </ul>
          </div>
        </details>
    </div>
  </div>

    <h2 class="govuk-heading-l govuk-!-static-padding-top-5">Agent details</h2>

  <!-- Phone number -->

  <div class="govuk-form-group" id="phone-number-group">
    <label class="govuk-label govuk-label--s" for="phone-number-group-input">
      Agent telephone number
    </label>
    <p class="govuk-error-message" id="phone-number-error-message" style="display: none">
      <span class="govuk-visually-hidden">ERROR:</span> You must enter a telephone number for your organisation.
    </p>
    <div id="postcode-hint" class="govuk-hint">
      Include international dialing code if telephone number is outside of the UK.
    </div>
    <input class="govuk-input" id="phone-number-input" name="tphone-number-group-input" type="text">
    <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
              Why give a telephone number?
          </span>
      </summary>
      <div class="govuk-details__text">
      <p>
        HMRC needs your telephone number in order to discuss any queries that they may have with your claim.
      </p>
      </div>
    </details>
  </div>

  <!-- Postcode-->

  <div class="govuk-form-group" id="postcode-group">
    <label class="govuk-label govuk-label--s" for="postcode-input"> Agent office postcode
    </label>
    <p class="govuk-error-message" id="postcode-error-message" style="display: none">
      <span class="govuk-visually-hidden">ERROR:</span> You must enter your postcode or indicate if your address is not in the UK.
    </p>
    <div id="postcode-hint" class="govuk-hint">
      This should be the postcode of the office in which your organisation is based, if it is in the UK.
    </div>
    <div id="postcode-hint" class="govuk-hint">
      For example, AB12 3YZ.
    </div>
    <div class="govuk-form-group">
      <input class="govuk-input govuk-input--width-10" id="address-postcode" name="address-postcode" type="text" autocomplete="postal-code">
    </div>

    <div class="govuk-form-group govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset" aria-describedby="declaration-confirmation">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="declaration-confirmation" name="declaration-confirmation" type="checkbox" value="declaration-confirmation">
            <label class="govuk-label govuk-checkboxes__label" for="declaration-confirmation">
              Select if your address is not in the UK
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Next
      </button>

     <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
    </div>

  </form>

</div>

</div>
{% endblock %}
