{% extends "layout.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">CHARITY TC088</span>
      <dl>
        <span class="govuk-caption-xl">HMRC charities reference:
          XR4010</span>
      </dl>
      <h1 class="govuk-heading-xl">About the organisation</h1>

      <h2 class="govuk-heading-m">
        Organisation details
      </h2>

      <p class="govuk-body">
        You must provide the information below then, click the 'Next' button to continue. The person making this claim must be a recognised authorised official or corporate trustee that has already been notified to HM Revenue & Customs as the authorised official.</p>


{{ govukSelect({
  id: "Name charity regulator",
  name: "Name charity regulator",
  label: {
    text: "Name of charity regulator:"
  },
  items: [
    {
      value: "Please select",
      text: "Please select",
      selected: true
    },
    {
      value: "Charity Commission for England and Wales",
      text: "Charity Commission for England and Wales"
    },
    {
      value: "Charity Commission for Northern Ireland",
      text: "Charity Commission for Northern Ireland"
    },
    {
      value: "Office of the Scottish Charity Regulator",
      text: "Office of the Scottish Charity Regulator"
    },
    {
      value: "None",
      text: "None"
    }
  ]
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Charity regulator
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>If the charity is registered with a UK charity regulator then you must select the name of that regulator from the drop-down list. If the charity is registered with a non-UK charity regulator then please select 'Other'. If the charity is not registered with one of these UK regulators or is not registered with a non-UK regulator then select 'None'.
<br></br>
<strong>Please note:</strong>Community Amateur Sports Clubs should always select 'None' from the drop-down list.
<br></br>
If dual registered, please include a registration number you have used in previous correspondence with HM Revenue & Customs or complete and submit a change of details form (ChV1) with this information before making your claim.</p>
  </div>
</details>

{{ govukInput({
  label: {
    text: "If you selected Charity Commission for England and Wales, Charity Commission for Northern Ireland or Office of the Scottish Charity Regulator, you must provide the information below.

Charity regulator's number - enter the numerical characters only (not the HMRC Charities reference number):",
    isPageHeading: false
  },
  id: "charity-regulator-number",
  name: "charity-regulator-number"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Charity registration number
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Where you have selected a regulator from the drop-down list you must enter the registration number the regulator issued to you (this does not apply where you have selected "none" or "other").
<br></br>
The registration number from the regulator will be on any paperwork received from that regulator.
<br></br>
If the charity is dual registered, please include a registration number you have used in previous correspondence with HMRC or complete and submit a change of details form (ChV1) with this information before making your claim.</p>
  </div>
</details>

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: "If you selected that this claim is being made by a corporate trustee, you must provide the information below

Name of corporate trustee:"
  },
  items: [
        {
      value: "please-select",
      text: "Please select",
      selected: true
    },
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Corporate trustee
    </span>
  </summary>
  <div class="govuk-details__text">
    <p>Only select 'Yes' if you are a company that looks after the day to day administration of the charity.</p>
  </div>
</details>

{{ govukInput({
  label: {
    text: "If you selected that this claim is being made by a corporate trustee, you must provide the information below

Name of corporate trustee:",
    isPageHeading: false
  },
  id: "corporate-trustee-name",
  name: "corporate-trustee-name"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Corporate trustee name
    </span>
  </summary>
  <div class="govuk-details__text">
    This will be the name of the company that looks after the day to day administration of the charity.
</details>

{{ govukInput({
  label: {
    text: "If you selected that this claim is not being made by a corporate trustee, you must provide details below about your organisation's authorised official.

Title:",
    isPageHeading: false
  },
  id: "organisation-authorised-official-title",
  name: "organisation-authorised-official-title"
}) }}

{{ govukInput({
  label: {
    text: "First name:",
    isPageHeading: false
  },
  id: "first-name",
  name: "first-name"
}) }}

{{ govukInput({
  label: {
    text: "Last name:",
    isPageHeading: false
  },
  id: "last-name",
  name: "last-name"
}) }}

{{ govukInput({
  label: {
    text: "Please enter a postcode or indicate if your address is not in the UK. Postcode:",
        isPageHeading: false
         },
    hint: {
    text: "For example AB12 3YZ"
  },
  id: "postcode",
  name: "postcode"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Postcode
    </span>
  </summary>
  <div class="govuk-details__text">
    This should be the postcode of the office in which your organisation is based.
</details>

{{ govukCheckboxes({
  name: "not-UK-address",
  fieldset: {
    legend: {
      text: "",
      isPageHeading: false,
      classes: "govuk-body govuk-!-margin-bottom-4"
    }
  },
  items: [
    {
      value: "not-in-UK",
      text: "Please select if your address is not in the UK"
    }
  ]
}) }}

{{ govukInput({
  label: {
    text: "Your daytime telephone number (including international dialling code if outside the UK):",
    isPageHeading: false
  },
  id: "telephone-number",
  name: "telephone-number"
}) }}

<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help about: Daytime telephone number
    </span>
  </summary>
  <div class="govuk-details__text">
    You must provide a telephone number that HM Revenue & Customs can use to discuss any queries that they may have with your claim.
</details>

<p>'Next' automatically saves your data.</p>


<button class="govuk-button" data-module="govuk-button">Next</button>

{{ govukButton({
  text: "Back",
  classes: "govuk-button--secondary"
}) }}

    </div>
    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://local.tax.service.gov.uk/home">
                Your HMRC services
              </a>
          </li>
        </ul>

              <ul class="govuk-list govuk-!-font-size-16">
                <li><p class="govuk-body govuk-!-font-weight-bold">Charity repayment claim</p></li>
                <li>
                  <a href="#">
                    At a glance
                  </a>
                </li>

                <li>
                  <a href="#">
                    Continue with charity repayment claim
                  </a>
                </li>

                <li>
                  <a href="#">
                    FAQs
                  </a>
                </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
