{% extends "layout.html" %}

{% block pageTitle %}
  About the organisation - {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl">CHARITY TC088</span>
  <dl>
    <span class="govuk-caption-xl">HMRC charities reference: XR4010
    </span>
  </dl>
  <h1 class="govuk-heading-xl">About the organisation</h1>
    <h2 class="govuk-heading-m">Organisation details
    </h2>
    <p class="govuk-body">
      To make this claim, you must be a recognised authorised official or corporate trustee that has already been notified to HM Revenue & Customs as the authorised official.
    </p>

  <form class="form" action="/gas-schedule-upload" method="post" id="about-organisation-form">

    <!-- Name of charity regulator -->

    <div class="govuk-form-group" id="name-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="name-charity-regulator-select">
        Name of charity regulator
      </label>
      <p class="govuk-error-message" id="name-charity-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
      </p>
        <select class="govuk-select" id="name-charity-regulator-select" name="name-charity-regulator-select">
          <option value="default" selected>Please select</option>
          <option value="england-wales" >Charity Commission for England and Wales</option>
          <option value="northern-ireland">Charity Commission for Northern Ireland</option>
          <option value="scottish-charity-regulator">Office of the Scottish Charity Regulator</option>
          <option value="none">None</option>
        </select>
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Help about: Charity regulator
          </span>
        </summary>
      <div class="govuk-details__text">
        <p>
          If the charity is registered with a UK charity regulator then you must select the name of that regulator from the drop-down list. If the charity is registered with a non-UK charity regulator then please select 'Other'. If the charity is not registered with one of these UK regulators or is not registered with a non-UK regulator then select 'None'.
        </p>
        <p>
          <strong>Please note:</strong>
          Community Amateur Sports Clubs should always select 'None' from the drop-down list.
        </p>
        <p>
          If dual registered, please include a registration number you have used in previous correspondence with HM Revenue & Customs or complete and submit a change of details form (ChV1) with this information before making your claim.
        </p>
      </div>
      </details>
    </div>

    <!-- Charity regulator's number -->

    <div class="govuk-form-group" id="number-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="number-charity-regulator">
          Charity regulator's number - enter the numerical characters only (not the HMRC Charities reference number)
        </label>
        <p class="govuk-error-message" id="number-charity-regulator-group-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Please supply the charity registration number for your organisation.
        </p>
      <input class="govuk-input" id="number-charity-regulator-input" name="number-charity-regulator" type="text">
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help about: Charity registration number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            Where you have selected a regulator from the drop-down list you must enter the registration number the regulator issued to you (this does not apply where you have selected "none" or "other").
          </p>
          <p>
            The registration number from the regulator will be on any paperwork received from that regulator.
          </p>
          <p>
            If the charity is dual registered, please include a registration number you have used in previous correspondence with HMRC or complete and submit a change of details form (ChV1) with this information before making your claim.
          </p>
        </div>
      </details>
    </div>

    <!-- Please provide a reason for not being registered with a regulator:-->

    <div class="govuk-form-group" id="reason-not-registered-regulator-group">
      <label class="govuk-label govuk-label--s" for="reason-not-registered-regulator-select">
        Please provide a reason for not being registered with a regulator
      </label>
      <p class="govuk-error-message" id="reason-not-registered-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
      </p>
        <select class="govuk-select" id="reason-not-registered-regulator-select" name="name-charity-regulator-select">
          <option value="default" selected>Please select</option>
          <option value="less-than-5000">Your charity is located in England or Wales and your income is less than £5,000 per year</option>
          <option value="excepted">Your charity is Excepted</option>
          <option value="exempt">Your charity is Exempt</option>
          <option value="northern-ireland">Your charity is based in Northern Ireland and you are awaiting registration with the CCNI</option>
        </select>
    </div>

    <!-- Corporate trustee -->

    <div class="govuk-form-group" id="corporate-trustee-group">
        <label class="govuk-label govuk-label--s" for="corporate-trustee-select">
          Is this claim being made by a corporate trustee such as the Trust Department of a bank, a Trust Company or a Trust Corporation?
        </label>
        <p class="govuk-error-message" id="corporate-trustee-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
        </p>
          <select class="govuk-select" id="corporate-trustee-select" name="corporate-trustee-select">
            <option value="default" selected>Please select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help about: Corporate trustee
                </span>
            </summary>
          <div class="govuk-details__text">
          <p>
            Only select 'Yes' if you are a company that looks after the day to day administration of the charity
          </p>
        </div>
      </details>
    </div>

    <!-- Corporate trustee name yes -->

      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="name-corporate-trustee">
        Name of corporate trustee
          </label>
        </h1>
          <input class="govuk-input" id="name-corporate-trustee" name="name-corporate-trustee" type="text">
            <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help about: Corporate trustee name
                </span>
              </summary>
          <div class="govuk-details__text">
          <p>
            This will be the name of the company that looks after the day to day administration of the charity.
          </p>
        </div>
      </details>
    </div>

    <!-- Corporate trustee name no -->

    <!-- Title -->

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="title"> Title
            </label>
          </h1>
      <input class="govuk-input" id="title" name="title" type="text">
    </div>

    <!-- First name -->

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="First name"> First name
          </label>
        </h1>
      <input class="govuk-input" id="first-name" name="first-name" type="text">
    </div>

    <!-- Last name -->

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="last-name"> Last name
          </label>
        </h1>
      <input class="govuk-input" id="last-name" name="last-name" type="text">
    </div>

    <!-- Postcode-->

    <p>
      Please enter a postcode or indicate if your address is not in the UK.
    </p>

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--s" for="postcode"> Postcode
          </label>
          <div id="postcode-hint" class="govuk-hint">
            For example AB12 3YZ
          </div>
        </h1>
      <input class="govuk-input" id="postcode" name="postcode" type="text">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help about: Postcode
          </span>
        </summary>
        <div class="govuk-details__text">
          This should be the postcode of the office in which your organisation is based.
      </details>
    </div>

    {{ govukCheckboxes({
      name: "not-UK-address",
      fieldset: {
        legend: {
          text: "",
          isPageHeading: false,
          classes: "govuk-body govuk-!-margin-bottom-4"
        }
      },
      items: [
        {
          value: "not-in-uk",
          text: "Please select if your address is not in the UK"
        }
      ]
    }) }}

    <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--s" for="telephone-number">
          Daytime telephone number
          </label>
        </h1>
        <input class="govuk-input" id="telephone-number" name="telephone-number" type="text">
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help about: Daytime telephone number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
          You must provide a telephone number that HM Revenue & Customs can use to discuss any queries that they may have with your claim.
          </p>
        </div>
      </details>
    </div>

    <p>'Next' automatically saves your data.</p>


    <div class="govuk-button-group">
      <button class="govuk-button" data-module="govuk-button">
        Next
      </button>

     <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment Claim Summary</a>
     <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="repayment-claim-summary">
     Repayment Claim Summary
     </button> -->
   </form>

    </div>

</div>

<div class="govuk-grid-column-one-third">

  <h2 class="govuk-heading-m" id="subsection-title">
    Charity repayment claim
  </h2>
  <aside class="app-related-items" role="complementary">

    <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/at-a-glance" class="govuk-link govuk-link--no-visited-state">
                At a glance
              </a>
            </li>

            <li>
              <a href="repayment-claim-summary" class="govuk-link">
                Repayment claim summary
              </a>
            </li>

            <li>
              <a href="/about-the-charity" class="govuk-link govuk-link--no-visited-state">
                Questions about this claim
              </a>
            </li>

            <li>
              <a href="/about-the-organisation" class="govuk-link govuk-link--no-visited-state">
                About the organisation
              </a>
            </li>

            <li>
              <a href="/gas-schedule-upload" class="govuk-link govuk-link--no-visited-state">
                Gift Aid schedule
              </a>
            </li>

            <li>
              <a href="/other-schedule-upload" class="govuk-link govuk-link--no-visited-state">
                Other income schedule
              </a>
            </li>

            <li>
              <a href="/gasds-details" class="govuk-link govuk-link--no-visited-state">
                Gift Aid Small Donations Scheme schedule
              </a>
            </li>

            <li>
              <a href="https://www.development.tax.service.gov.uk/information/faqs/charities" class="govuk-link govuk-link--no-visited-state">
                FAQs
              </a>
            </li>
      </ul>
    </nav>
  </aside>
</div>

</div>
{% endblock %}
