{% extends "layout.html" %}

{% block pageTitle %}
  About the organisation - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds">
  <span class="govuk-caption-xl">CHARITY TC088</span>
  <dl>
    <span class="govuk-caption-xl">HMRC charities reference: XR4010
    </span>
  </dl>
  <h1 class="govuk-heading-xl">Organisation details</h1>
    <p class="govuk-body">
      To make this claim, you must be a recognised authorised official or corporate trustee that has already been notified to HMRC as the authorised official.
    </p>
    <p class="govuk-body">
      You need to provide details about the charity or Community Amateur Sports Club (CASC) you are claiming on behalf of.
    </p>

  <form class="form" action="/repayment-claim-summary" method="post" id="about-organisation-form">

    <!-- Name of charity regulator -->

    <div class="govuk-form-group" id="name-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="name-charity-regulator-select">
        Name of charity regulator:
      </label>
      <p class="govuk-error-message" id="name-charity-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Select the charity regulator you are registered with, or if you are not registered
      </p>
        <select class="govuk-select" id="name-charity-regulator-select" name="name-charity-regulator-select" onchange="charityRegulatorNoneFieldsOnChange(this)">
          <option value="default" selected>Please select</option>
          <option value="england-wales" >Charity Commission for England and Wales</option>
          <option value="northern-ireland">Charity Commission for Northern Ireland</option>
          <option value="scottish-charity-regulator">Office of the Scottish Charity Regulator</option>
          <option value="none">None</option>
        </select>
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">Help about: Charity regulator
          </span>
        </summary>
      <div class="govuk-details__text">
        <p>
          Community Amateur Sports Clubs (CASCs) are not regulated by an external organisation. Therefore, CASCs should always select 'None' from the drop-down list.
        </p>
      </div>
      </details>
    </div>

  <div id="number-charity-regulator-fields" style="display: block">

    <!-- Charity regulator's number -->

    <div class="govuk-form-group" id="number-charity-regulator-group">
      <label class="govuk-label govuk-label--s" for="number-charity-regulator">
        Charity regulator's number:
        </label>
        <p class="govuk-error-message" id="number-charity-regulator-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Enter the charity registration number for your organisation
        </p>
        <div id="event-name-hint" class="govuk-hint">
          Enter the numerical characters only of the registration number the charity regulator issued to you. This is not the HMRC charities reference number.
        </div>
      <input class="govuk-input" id="number-charity-regulator-input" name="number-charity-regulator" type="text">
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Help about: Charity registration number
          </span>
        </summary>
        <div class="govuk-details__text">
          <p>
            The registration number from the regulator will be on any paperwork received from that regulator.
          </p>
          <p> If the charity is dual registered, you can either:</p>
          <ul class="govuk-list govuk-list--bullet">
             <li>include a registration number used in previous correspondence with HMRC</li>
             <li>complete and submit <a href="https://www.gov.uk/government/publications/charities-change-of-details-form-chv1">a change of details form (ChV1)</a> with this information before making your claim.</li>
          </ul>
        </div>
      </details>
    </div>
  </div>

  <div id="charity-regulator-none-fields" style="display: none">

    <!-- Provide a reason for not being registered with a regulator: -->

    <div class="govuk-form-group" id="reason-not-registered-regulator-group">
      <label class="govuk-label govuk-label--s" for="reason-not-registered-regulator-select">
        Provide a reason for not being registered with a regulator:
      </label>
      <p class="govuk-error-message" id="reason-not-registered-regulator-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Select a reason for not being registered with a regulator
      </p>
        <select class="govuk-select" id="reason-not-registered-regulator-select" name="name-charity-regulator-select">
          <option value="default" selected>Please select</option>
          <option value="less-than-5000">Your charity is located in England or Wales and your income is less than £5,000 per year</option>
          <option value="excepted">Your charity is Excepted</option>
          <option value="exempt">Your charity is Exempt</option>
          <option value="northern-ireland">Your charity is based in Northern Ireland and you are awaiting registration with the CCNI</option>
        </select>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help about: No registration with regulator
            </span>
          </summary>
          <div class="govuk-details__text">
            <p>
              You can apply directly to HMRC for recognition as a charity for tax purposes, if you are:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>excepted from registration with a charity regulator</li>
               <li>exempt from registration with a charity regulator</li>
               <li>your organisation is established in a country where there is no charity regulator</li>
            </ul>
            <p>
              You are excepted if income is £100,000 or less and your charity is in one of the following groups:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>churches or chapels belonging to some Christian denominations</li>
               <li>charities that provide premises for some types of school</li>
               <li>Scout and Guide groups</li>
               <li>charitable service funds of the armed forces</li>
               <li>student unions</li>
            </ul>
            <p>
              You are exempt from registering with the relevant regulator because you are:
            </p>
            <ul class="govuk-list govuk-list--bullet">
               <li>an educational institution such as a university, school or connected institution </li>
               <li>a museum or gallery, as defined in the Charities Act</li>
               <li>a housing association registered under the Industrial and Provident Societies Act 1965</li>
            </ul>
          </div>
        </details>
    </div>
  </div>

    <!-- Is this claim being made by a corporate trustee such as the Trust Department of a bank, a Trust Company or a Trust Corporation? -->

    <div class="govuk-form-group" id="corporate-trustee-group">
        <label class="govuk-label govuk-label--s" for="corporate-trustee-select">
          Is this claim being made by a corporate trustee such as the Trust Department of a bank, a Trust Company or a Trust Corporation?
        </label>
        <p class="govuk-error-message" id="corporate-trustee-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Select if this claim is being made by a corporate trustee
        </p>
          <select class="govuk-select" id="corporate-trustee-select" name="corporate-trustee-select" onchange="nameCorporateTrusteeGroupOnChange(this)">
            <option value="default" selected>Please select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Help about: Corporate trustee
                </span>
            </summary>
          <div class="govuk-details__text">
            <p>
              A corporate trustee is responsible for looking after the day-to-day administration of the charity. Only a charity managed by a trust company, or trust department of a bank can have a corporate trustee.
            </p>
        </div>
      </details>
    </div>

    <!-- Name of corporate trustee  -->

    <div class="govuk-form-group" id="name-corporate-trustee-group" style="display: none">
      <label class="govuk-label govuk-label--s" for="name-corporate-trustee-input">
        Name of corporate trustee
      </label>
      <p class="govuk-error-message" id="name-corporate-trustee-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Enter the name of the corporate trustee for your organisation
      </p>
      <div id="event-name-hint" class="govuk-hint">
        This is the name of the company that looks after the day-to-day administration of the charity.
      </div>
      <input class="govuk-input" id="name-corporate-trustee-input" name="name-corporate-trustee" type="text">
    </div>

  <div id="authorised-official-fields" style="display: none">

    <p>Enter the details of the official you have told HMRC is authorised to make this repayment claim.</p>

    <!-- Authorised Official Title -->

    <div class="govuk-form-group" id="authorised-official-title-group">
      <label class="govuk-label govuk-label--s" for="authorised-official-title-input"> Title (optional):
      </label>
      <input class="govuk-input" id="authorised-official-title-input" name="authorised-official-title-input" type="text">
    </div>

      <!-- Authorised Official First name -->

    <div class="govuk-form-group" id="authorised-official-first-name-group">
      <label class="govuk-label govuk-label--s" for="authorised-official-first-name-input name"> First name:
      </label>
      <p class="govuk-error-message" id="authorised-official-first-name-error-message" style="display: none">
        <span class="govuk-visually-hidden">ERROR:</span> Enter the first name of the authorised person for your organisation
      </p>
      <input class="govuk-input" id="authorised-official-first-name-input" name="authorised-official-first-name-input" type="text">
    </div>

      <!-- Authorised Official Last name -->

      <div class="govuk-form-group" id="authorised-official-last-name-group">
        <label class="govuk-label govuk-label--s"     for="authorised-official-last-name-input"> Last name:
        </label>
        <p class="govuk-error-message" id="authorised-official-last-name-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> Enter the last name of the authorised person for your organisation
        </p>
        <input class="govuk-input" id="authorised-official-last-name-input" name="authorised-official-last-name" type="text">
      </div>
      <details class="govuk-details" data-module="govuk-details" style="margin-top: 20px">
        <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
                Help about: Authorised official
            </span>
        </summary>
      <div class="govuk-details__text">
        <p>
          <p>
            If you are not a corporate trustee, enter the details of the official you have told HMRC is authorised to make this repayment claim.
          </p>

          <p>
            These details will be the personal information of the authorised official supplied to HMRC when
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>the charity applied to be recognised by HMRC, or</li>
            <li>when the CASC submitted its registration, or</li>
            <li>when the details were amended by submitting a  <a href="https://www.gov.uk/government/publications/charities-change-of-details-form-chv1">change of details form (ChV1)</a>.</li>
          </ul>

          <p>
            If the authorised official has changed you must tell HMRC who the new authorised official is by submitting a change of details form (ChV1) at least 30 days before making this claim.
          </p>

    </div>
    </details>
  </div>

  <!-- Postcode-->

  <div class="govuk-form-group" id="postcode-group" style="display: none">
    <label class="govuk-label govuk-label--s" for="postcode-input"> Postcode:
    </label>
    <p class="govuk-error-message" id="postcode-error-message" style="display: none">
      <span class="govuk-visually-hidden">ERROR:</span> Enter your postcode or indicate if your address is not in the UK
    </p>
    <div id="postcode-hint" class="govuk-hint">
      This should be the postcode of the office in which your organisation is based if it is in the UK.
    </div>
    <input class="govuk-input" id="postcode-input" name="postcode-input" type="text">

    <div class="govuk-form-group govuk-!-margin-top-6">
      <fieldset class="govuk-fieldset" aria-describedby="declaration-confirmation">
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="declaration-confirmation" name="declaration-confirmation" type="checkbox" value="declaration-confirmation">
            <label class="govuk-label govuk-checkboxes__label" for="declaration-confirmation">
              Select if your address is not in the UK
            </label>
          </div>
        </div>
      </fieldset>
    </div>
  </div>

  <!-- Phone number -->

  <div class="govuk-form-group" id="phone-number-group">
    <label class="govuk-label govuk-label--s" for="phone-number-group-input">
      Telephone number:
    </label>
    <p class="govuk-error-message" id="phone-number-error-message" style="display: none">
      <span class="govuk-visually-hidden">ERROR:</span> Enter a telephone number for your organisation
    </p>
    <div id="postcode-hint" class="govuk-hint">
      For international numbers include the country code.
    </div>
    <input class="govuk-input" id="phone-number-input" name="tphone-number-group-input" type="text">
    <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px">
      <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
              Help about: Telephone number
          </span>
      </summary>
      <div class="govuk-details__text">
        <p>
          You must provide a phone number that HMRC can use to discuss any queries that they may have with your claim.
        </p>
      </div>
    </details>
  </div>


    <div class="govuk-button-group" href="">
      <button class="govuk-button" data-module="govuk-button" href="repayment-claim-summary">
        Next
      </button>

     <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
    </div>

  </form>

</div>

</div>
{% endblock %}
