{% extends "layout.html" %}

{% block pageTitle %}
  Charity repayment claim summary – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Claim complete
            </h1>
            <div class="govuk-panel__body">
              Your submission receipt reference number<br><strong>123456ABCDEF</strong>
            </div>
          </div>

          <div class="govuk-!-padding-bottom-5"></div>

          <p class="govuk-body">
            HMRC recommends you print or save this information for your records.
          </p>

          <div>
            <a href="" class="govuk-link govuk-link--no-visited-state"> <svg style="margin-right: 5px" width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><title>icon-print</title><path d="M13.412 6.147H4.47v-4.47C4.47.75 5.22 0 6.147 0h5.588c.926 0 1.677.75 1.677 1.676v4.47zm4.47-.559v7.265c0 .926-.75 1.676-1.676 1.676h-1.118v1.677c0 .925-.75 1.676-1.676 1.676H4.47c-.926 0-1.677-.75-1.677-1.676v-1.677H1.676C.751 14.53 0 13.78 0 12.853V5.588c0-.926.75-1.676 1.676-1.676h1.118v3.911h12.294V3.912h1.118c.925 0 1.676.75 1.676 1.676zm-5.03 6.147H5.03v3.912h7.824v-3.912z"/></svg>
              Print or save page</a>
          </div>

          <div class="govuk-!-padding-bottom-7"></div>

          <h1 class="govuk-heading-l">Claim summary</h1>

          <table class="govuk-table govuk-!-margin-bottom-7">
            <caption class="govuk-table__caption govuk-table__caption--m">Organisation details</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Charity name:</th>
                <td class="govuk-table__cell">Charity TC008</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">HMRC Charities Reference:</th>
                <td class="govuk-table__cell">XR4010</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claim details</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Date of submission:</th>
                <td class="govuk-table__cell" id="submission-cell-date">
                  <script>
                    const date = new Date();
                    const day = date.getDate();
                    const month = date.getMonth() + 1;
                    const year = date.getFullYear();

                  // This arrangement can be altered based on how we want the date's format to appear.
                  const currentDate = `${day}/${month}/${year}`;
                  console.log(currentDate); // "17-6-2022"document.write(currentDate)
                  document.write(currentDate)
                  </script>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Claim submitted by:</th>
                <td class="govuk-table__cell">
                  <script>
                    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    document.write(time)
                  </script>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Number of Gift Aid donations claimed:</th>
                <td class="govuk-table__cell">1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Total value of Gift Aid donations:</th>
                <td class="govuk-table__cell">£5,407.00</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Number of other income items:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Total value of other income claimed:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Amount of tax relief previously overclaimed:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Total value of GASDS donations not collected in a community building:</th>
                <td class="govuk-table__cell">Not applicable</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Number of community buildings:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Total value of GASDS donations collected in a community building:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Number of connected charities:</th>
                <td class="govuk-table__cell">Not attached</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header govuk-!-width-three-quarters">Amount of GASDS previously overclaimed:</th>
                <td class="govuk-table__cell">Not applicable</td>
              </tr>
            </tbody>
          </table>

          <h2 class="govuk-heading-m govuk-!-margin-top-9">What happens next</h2>
          <p class="govuk-body">
            You’ll get a Gift Aid payment by BACS within 4 weeks. You will receive a letter receipt in the post to the address you entered for this claim.
          </p>
          <p class="govuk-body">
            You should wait to receive your payment before re-submitting your claim.
          </p>
          <p class="govuk-body">
            Contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/charities-and-community-amateur-sports-clubs-cascs" class="govuk-link">charities helpline</a> if your repayment is wrong or if you submitted an incorrect claim.
          </p>

          <div class="govuk-button-group">
            <a href="/index" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
              Sign out
            </a>
            <a href="/index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
              Your HMRC services
            </a>
          </div>

        </div>
      </div>
    </main>
  </div>
{% endblock %}
