{% extends "layout.html" %}

{% block pageTitle %}
  Charity repayment claim summary – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "euluo2x974");
  </script>

{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="govuk-panel govuk-panel--confirmation">
            <h1 class="govuk-panel__title">
              Claim complete
            </h1>
            <div class="govuk-panel__body">
              Your submission receipt reference number<br><strong>123456ABCDEF</strong>
            </div>
          </div>

          <table class="govuk-table govuk-!-margin-bottom-9">
            <caption class="govuk-table__caption govuk-table__caption--m">Organisation details</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Charity name:</th>
                <td class="govuk-table__cell">Charity TC008</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">HMRC Charities Reference:</th>
                <td class="govuk-table__cell">{{ data['number-charity-regulator'] }}</td>
              </tr>
            </tbody>
          </table>

          <table class="govuk-table">
            <caption class="govuk-table__caption govuk-table__caption--m">Claim details</caption>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Date of submission:</th>
                <td class="govuk-table__cell" id="submission-cell-date">
                  <script>
                    const date = new Date();
                    const day = date.getDate();
                    const month = date.getMonth() + 1;
                    const year = date.getFullYear();

                  // This arrangement can be altered based on how we want the date's format to appear.
                  const currentDate = `${day}/${month}/${year}`;
                  console.log(currentDate); // "17-6-2022"document.write(currentDate)
                  document.write(currentDate)
                  </script>
                  </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Claim submitted by:</th>
                <td class="govuk-table__cell">
                  <script>
                    var today = new Date();
                    var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
                    document.write(time)
                  </script>
                </td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Number of Gift Aid donations claimed:</th>
                <td class="govuk-table__cell">1</td>
              </tr>
              <tr class="govuk-table__row">
                <th scope="row" class="govuk-table__header">Total value of Gift Aid donations:</th>
                <td class="govuk-table__cell">£---</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="govuk-heading-m">What happens next</h2>
      <p class="govuk-body">
        You’ll get a Gift Aid payment by BACS within 4 weeks. You will receive a letter receipt in the post to the address you entered for this claim.
      </p>
      <p class="govuk-body">
        You should wait to receive your payment before re-submitting your claim.
      </p>
      <p class="govuk-body">
        Contact the <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/charities-and-community-amateur-sports-clubs-cascs" class="govuk-link">charities helpline</a> if your repayment is wrong or if you submitted an incorrect claim.
      </p>

      <div class="govuk-button-group">
        <a href="/index" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Sign out
        </a>
        <a href="/index" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Your HMRC services
        </a>
      </div>
    </main>
  </div>
{% endblock %}
