{% extends "layout.html" %}

{% block pageTitle %}
  Attach community buildings schedule - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
  
  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach community buildings schedule</h1>
  </div>
</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Community buildings schedule
      </h2>

      <p class="govuk-body govuk-!-font-weight-bold">
        Download a community buildings schedule
      </p>

      <p class="govuk-body">
        You've indicated that you want to make a claim for a top-up payment under the Gift Aid Small Donations Scheme (GASDS) on small donations you've collected in your community building(s). Your claim must be supported by details of the community building(s) in which the donations were collected and the amounts collected. This is the only place in this claim that you should include these amounts. </p>

      <p class="govuk-body">
        You must have already completed and saved an HM Revenue and Customs (HMRC) community buildings schedule on your computer with details of your community building(s) on to support this claim.
      </p>

      <p class="govuk-body">
        <strong>Please note:</strong> If you haven't already done so follow the link below to download the HMRC community buildings schedule.
      </p>

      <p class="govuk-body">
        To complete the schedule now you'll need to sign out of this service. Any information you have already entered will be saved.
      </p>

      <p class="govuk-body">
        Once you've completed the schedule you'll be able to sign back into this service and attach it to your claim.
      </p>

      <p class="govuk-body govuk-!-font-weight-bold">Download a Gift Aid schedule</p>

      <p class="govuk-body">
        You have indicated that you want to claim a repayment of tax on Gift Aid donations. Your claim must include full details of the donors and their donations on which you are claiming a repayment of tax.
      </p>

      <p class="govuk-body">
        You must have already completed and saved an HM Revenue & Customs (HMRC) Gift Aid schedule on your computer with details of your Gift Aid donations to support this claim.
      </p>

      <p class="govuk-body">
        <strong>Please note:</strong> If you haven't already done so please follow the link below to download the HMRC Gift Aid schedule.
      </p>

      <p class="govuk-body">
        To complete the schedule now you will need to log out of this service. Any information you have already entered will be saved.
      </p>

      <p class="govuk-body">
        Once you have completed the schedule you will be able to log back into this service and attach it to your claim.
      </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/schedule-spreadsheet-for-community-building-gasds-claims" class="govuk-link">Download a community buildings schedule</a></li>
        </ul>

        <p class="govuk-body">
          Further information about community buildings schedules can be found in the online guidance. HMRC recommend you read this guidance before you complete and save your schedule.
        </p>

        <form class="form" action="/repayment-claim-summary" method="post">

        <p class="govuk-body govuk-!-font-weight-bold">Attach your community buildings schedule</p>

        <p class="govuk-body">
          When you are ready to attach your community buildings schedule to this claim, click on the 'Browse' button below to find and select the completed schedule on your computer.
        </p>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "community-building-schedule-upload",
          name: "ommunity-building-schedule-upload",
          label: {
            text: "Community building schedule"
          }
        }) }}


        <p class="govuk-body">
          If you don't want to attach a community buildings schedule now please tick the checkbox below, then click the 'Next' button to continue.
        </p>

        <p class="govuk-body">
          <strong>Please note:</strong> You must attach a community buildings schedule before you can submit your charity repayment claim.
        </p>

        {{ govukCheckboxes({
          name: "agree",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "no-attach",
              text: "I do not want to attach a community schedule schedule at this time.",
              hint: {
                text: ""
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Next
          </button>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
          <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="repayment-claim-summary">
          Repayment Claim Summary
          </button> -->
     </form>
        </div>



    </div>
  </div>
{% endblock %}
