{% extends "layout.html" %}

{% block pageTitle %}
  Attach community buildings schedule - {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}

  <!-- Hotjar Tracking Code for https://charities-reskin.herokuapp.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3246389,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ej1tq6bwb8");
</script>

{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach community buildings schedule</h1>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/repayment-claim-summary" method="post">

        <h2 class="govuk-heading-l">Community building schedule - Confirmation</h2>

        <p>You have successfully attached your community buildings schedule.</p>

        <p>Please click the 'Next' button to continue.</p>

        <button class="govuk-button" data-module="govuk-button">Next</button>

</div>

<div class="govuk-grid-column-one-third">
      
  <h2 class="govuk-heading-m" id="subsection-title">
    Charity repayment claim
  </h2>
  <aside class="app-related-items" role="complementary">

    <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="/at-a-glance" class="govuk-link govuk-link--no-visited-state">
                At a glance
              </a>
            </li>

            <li>
              <a href="" class="govuk-link govuk-link--no-visited-state">
                Repayment claim summary
              </a>
            </li>

            <li>
              <a href="/about-the-charity" class="govuk-link govuk-link--no-visited-state">
                Questions about this claim
              </a>
            </li>

            <li>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                About the organisation
              </a>
            </li>

            <li>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Gift Aid schedule
              </a>
            </li>

            <li>
              <a href="#" class="govuk-link govuk-link--no-visited-state">
                Other income schedule
              </a>
            </li>

            <li>
              <a href="#" class="govuk-link govuk-link--no-visited-state"><p class="govuk-!-font-size-16 govuk-!-font-weight-bold">
                Gift Aid Small Donations Scheme schedule
              </a>
            </li>
            
            <li>
              <a href="https://www.development.tax.service.gov.uk/information/faqs/charities" class="govuk-link govuk-link--no-visited-state">
                FAQs
              </a>
            </li>
      </ul>
    </nav>
  </aside>
</div>
  </div>

{% endblock %}
