{% extends "layout.html" %}

{% block pageTitle %}
  Attach community buildings schedule - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">CHARITY TC088</span>
      <dl>
        <span class="govuk-caption-xl">HMRC charities reference:
          XR4010</span>
      </dl>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-notification-banner govuk-notification-banner--success" role="alert"
      aria-labelledby="govuk-notification-banner-title"
      data-module="govuk-notification-banner">
        <div class="govuk-notification-banner__header">
           <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
             Success
           </h2>
        </div>
        <div class="govuk-notification-banner__content">
          <h3 class="govuk-notification-banner__body">
            You have attached a Community buildings spreadsheet to your claim
          </h3>
       </div>
     </div>

      <form class="form" action="/repayment-claim-summary" method="post" id="gas-schedule-confirmation-form" name="gas-schedule-confirmation-form">

        <button class="govuk-button" data-module="govuk-button">
          Next
        </button>
      </form>

    </div>
  </div>
{% endblock %}
