{% extends "layout.html" %}

{% block pageTitle %}
  Attach Gift Aid schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach community buildings spreadsheet</h1>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        You have selected to claim a repayment of tax on Gift Aid donations. Gift Aid is a repayment of tax on donations from individuals who have made a <a href="https://www.gov.uk/guidance/gift-aid-declarations-claiming-tax-back-on-donations" class="govuk-link">valid Gift Aid declaration</a>.
      </p>

      <p class="govuk-body">
      To make a claim, you must fill out a Gift Aid claim spreadsheet. Your claim spreadsheet must include full details of the donors and their donations.
      </p>

      <p class="govuk-body">
        We recommend you read the <a href="https://www.gov.uk/guidance/schedule-spreadsheet-to-claim-back-tax-on-gift-aid-donations" class="govuk-link">Gift Aid spreadsheet guidance</a> before you complete and save your spreadsheet.
      </p>

      <h2 class="govuk-heading-m">Upload a Community Buildings spreadsheet</h2>

      <p class="govuk-body">
        To complete and upload a Community Buildings spreadsheet:
      </p>

      <ol class="govuk-list govuk-list--number">
         <li>Download a <a href="https://www.gov.uk/government/publications/gift-aid-schedule-spreadsheets-to-claim-back-tax-on-donations" class="govuk-link">Community Buildings spreadsheet</a>.</li>
         <li>Complete the spreadsheet and save it as an Open Document Spreadsheet (.ods) file to your computer.</li>
         <li>Select ‘Choose file’ and select the saved spreadsheet file from your computer to attach it to this claim.</li>
         <li>Select ‘Next’.</li>
      </ol>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload a file"
          }
        }) }}

        <div class="govuk-button-group">
          <a class="govuk-button govuk-button--primary" href="repayment-claim-summary">Next</a>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
        </div>

    </div>
  </div>
{% endblock %}
