{% extends "layout.html" %}

{% block pageTitle %}
  Attach Gift Aid schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach connected charities spreadsheet</h1>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        You have selected to claim a repayment of tax on connected charities donations. If you do not want to make this type of claim, you can remove it by answering ‘No’ to the question ‘Are you connected to any other charities or CASCs for the purpose of GASDS?’ in the <a href="http://localhost:3000/about-the-charity" class="govuk-link">Claim details</a> page.
      </p>

      <p class="govuk-body">
        Charities and CASCs are generally connected under GASDS rules where one or more of the following applies:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>one charity controls another</li>
        <li>two or more charities are under common control</li>
        <li>control links a number of charities - for example, if Charity A controls Charity B and Charity B controls Charity C, then all 3 charities are connected</li>
      </ul>

      <p class="govuk-body">
        If connected charities or CASCs have different purposes or activities, then they will not be considered <a href="https://www.gov.uk/government/publications/charities-detailed-guidance-notes/chapter-8-the-gift-aid-small-donations-scheme" class="govuk-link">a connected charity under GASDS rules</a>. The connected charities and CASCs must share the maximum GASDS donation <a href="https://www.gov.uk/government/publications/charities-detailed-guidance-notes/chapter-8-the-gift-aid-small-donations-scheme#chapter-88-claim-limits" class="govuk-link">claim limit</a> of £8,000.
      </p>

      <p class="govuk-body">
        To make a claim, you must fill out a connected charities spreadsheet. Your claim must include details of your connected charities or CASCs.
      </p>

      <p class="govuk-body">
        We recommend you read the <a href="https://www.gov.uk/schedule-spreadsheet-for-connected-charities-gasds-claims" class="govuk-link">connected charities spreadsheet guidance</a> before you complete and save your spreadsheet.
      </p>

      <h2 class="govuk-heading-m">Complete and attach a spreadsheet</h2>

      <ol class="govuk-list govuk-list--number">
         <li>Download a <a href="https://www.gov.uk/government/publications/gift-aid-schedule-spreadsheets-to-claim-back-tax-on-donations" class="govuk-link">connected charities spreadsheet</a>.</li>
         <li>Complete the spreadsheet and save it as an Open Document Spreadsheet (.ods) file to your computer.</li>
         <li>Select ‘Choose file’ and select the saved spreadsheet file from your computer to attach it to this claim.</li>
         <li>Select ‘Next’.</li>
      </ol>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Attach a file"
          }
        }) }}

        <div class="govuk-button-group">
          <a class="govuk-button govuk-button--primary" href="connected-charities-schedule-check">Next</a>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
        </div>

    </div>
  </div>
{% endblock %}
