{% extends "layout.html" %}

{% block pageTitle %}
  Attach connected charities schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}

  <!-- Hotjar Tracking Code for https://charities-reskin.herokuapp.com -->
<script>
  (function(h,o,t,j,a,r){
      h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
      h._hjSettings={hjid:3246389,hjsv:6};
      a=o.getElementsByTagName('head')[0];
      r=o.createElement('script');r.async=1;
      r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
      a.appendChild(r);
  })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ej1tq6bwb8");
</script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach connected charities schedule</h1>
  </div>
</div>


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">
        Connected charities schedule
      </h2>

      <p class="govuk-body govuk-!-font-weight-bold">
        Download a connected charities schedule
      </p>

      <p class="govuk-body">
        You have indicated that you would like to claim a top-up payment under the Gift Aid Small Donations Scheme (GASDS) on small cash donations you have received and that your organisation is connected to one or more charities or Community Amateur Sports Clubs (CASCs) under the GASDS rules. Your claim must be supported by the name(s) and HM Revenue & Customs (HMRC) charities reference number(s) of these charities or CASCs you are connected to.
      </p>

      <p class="govuk-body">
        You must have already completed and saved an HMRC connected charities schedule on your computer with details of your connected charities or CASCs on to support this claim.
      </p>

      <p class="govuk-body">
        <strong>Please note:</strong> If you haven't already done so follow the link below to download the HMRC connected charities schedule.
      </p>

      <p class="govuk-body">
        To complete the schedule now you will need to log out of this service. Any information you have already entered will be saved.
      </p>

      <p class="govuk-body">
        Once you have completed the schedule you will be able to log back into this service and attach it to your claim.
      </p>

        <ul class="govuk-list govuk-list--bullet">
          <li><a href="https://www.gov.uk/guidance/schedule-spreadsheet-for-connected-charities-gasds-claims" class="govuk-link">Download a connected charities schedule</a></li>
        </ul>

        <p class="govuk-body">
          Further information about connected charities schedules can be found in the online guidance. HMRC recommend you read this guidance before you complete and save your schedule.
        </p>

        <form class="form" action="/at-a-glance" method="post">

        <p class="govuk-body govuk-!-font-weight-bold">Attach your connected charities schedule</p>

        <p class="govuk-body">
          When you are ready to attach your connected charities schedule to this claim, click on the 'Browse' button below to find and select the completed schedule on your computer.
        </p>

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Connected charities schedule:"
          }
        }) }}


        <p class="govuk-body">
          If you don't want to attach a connected charities schedule now please tick the checkbox below, then click the 'Next' button to continue.
        </p>

        <p class="govuk-body">
          <strong>Please note:</strong> You must attach a connected charities schedule before you can submit your charity repayment claim.
        </p>

        {{ govukCheckboxes({
          name: "agree",
          fieldset: {
            legend: {
              text: "",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: ""
          },
          items: [
            {
              value: "no-attach",
              text: "I do not want to attach a connected charities schedule at this time.",
              hint: {
                text: ""
              }
            }
          ]
        }) }}

        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button">
            Next
          </button>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment Claim Summary</a>
          <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="repayment-claim-summary">
          Repayment Claim Summary
          </button> -->
     </form>
        </div>

    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://local.tax.service.gov.uk/home">
                Your HMRC services
              </a>
          </li>
        </ul>

              <ul class="govuk-list govuk-!-font-size-16">
                <li><p class="govuk-body govuk-!-font-weight-bold">Charity repayment claim</p></li>
                <li>
                  <a href="at-a-glance">
                    At a glance
                  </a>
                </li>

                <li>
                  <a href="#">
                    Continue with charity repayment claim
                  </a>
                </li>

                <li>
                  <a href="https://www.development.tax.service.gov.uk/information/faqs/charities" class="govuk-link govuk-link--no-visited-state">
                    FAQs
                  </a>
                </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
