{% extends "layout.html" %}

{% block pageTitle %}
  Attach Connected Charities spreadsheet – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>

    <h1 class="govuk-heading-xl" id="connected-charities-top">Check your connected charities spreadsheet</h1>

    <p>The spreadsheet you are attaching is formatted correctly.</p>

    <p>To attach your spreadsheet, confirm the details below are correct for this claim.</p>

    <p>If you need to update your spreadsheet, select the 'Attach an updated spreadsheet' button below. This will remove the current spreadsheet you are attempting to attach. You can then re-submit your updated spreadsheet in the 'Attach connected charities spreadsheet' page.</p>

    <div class="govuk-!-margin-bottom-6">
      <a href="javascript:if(window.print)window.print()" class="govuk-link govuk-link--no-visited-state"> <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><title>icon-print</title><path d="M13.412 6.147H4.47v-4.47C4.47.75 5.22 0 6.147 0h5.588c.926 0 1.677.75 1.677 1.676v4.47zm4.47-.559v7.265c0 .926-.75 1.676-1.676 1.676h-1.118v1.677c0 .925-.75 1.676-1.676 1.676H4.47c-.926 0-1.677-.75-1.677-1.676v-1.677H1.676C.751 14.53 0 13.78 0 12.853V5.588c0-.926.75-1.676 1.676-1.676h1.118v3.911h12.294V3.912h1.118c.925 0 1.676.75 1.676 1.676zm-5.03 6.147H5.03v3.912h7.824v-3.912z"/></svg>
        Print or save page
      </a>
    </div>

    <div class="govuk-!-margin-bottom-6">
      <a href="#connected-charities-bottom" class="govuk-link govuk-link--no-visited-state"><svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" style="transform: rotate(180deg)">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
        Skip to bottom
      </a>
    </div>

    <h2 class="govuk-heading-m">Connected charities spreadsheet details</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Item</th>
          <th scope="col" class="govuk-table__header">Charity name</th>
          <th scope="col" class="govuk-table__header">Charity reference</th>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">1</td>
          <td class="govuk-table__cell">Giving Back Brighton</td>
          <td class="govuk-table__cell">AB12345</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">2</td>
          <td class="govuk-table__cell">Food Trust</td>
          <td class="govuk-table__cell">AB123</td>
        </tr>
      </tbody>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">3</td>
          <td class="govuk-table__cell">Helping Hands</td>
          <td class="govuk-table__cell">A1</td>
        </tr>
      </tbody>
    </table>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/connected-charities-schedule-upload">Attach an updated spreadsheet</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/connected-charities-schedule-delete">Delete spreadsheet</a>
      </li>
    </ul>

    <a href="/connected-charities-schedule-confirmation" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
      Confirm details
    </a>

    <div id="connected-charities-bottom">
      <a href="#connected-charities-top" class="govuk-link govuk-link--no-visited-state"><svg role="presentation" focusable="false" class="app-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
        <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
      </svg>
        Back to top
      </a>
    </div>


  </div>
</div>

{% endblock %}
