{% extends "layout.html" %}

{% block pageTitle %}
  Attach Gift Aid schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach Gift Aid spreadsheet</h1>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        You have selected to claim a repayment of tax on Gift Aid donations. If you do not want to make this type of claim, you can remove it by answering ‘No’ to the question ‘Are you claiming Gift Aid?’ in the <a href="http://localhost:3000/about-the-charity" class="govuk-link">Claim details</a> page.
      </p>

      <p class="govuk-body">
        Gift Aid is a repayment of tax on donations from individuals who have made a <a href="https://www.gov.uk/guidance/gift-aid-declarations-claiming-tax-back-on-donations" class="govuk-link">valid Gift Aid declaration</a>.
      </p>

      <p class="govuk-body">
      To make a claim, you must fill out a Gift Aid claim spreadsheet. Your claim spreadsheet must include full details of the donors and their donations.
      </p>

      <p class="govuk-body">
        We recommend you read the <a href="https://www.gov.uk/guidance/schedule-spreadsheet-to-claim-back-tax-on-gift-aid-donations" class="govuk-link">Gift Aid spreadsheet guidance</a> before you complete and save your spreadsheet.
      </p>

      <h2 class="govuk-heading-m">Upload a Gift Aid spreadsheet</h2>

      <p class="govuk-body">
        To complete and upload a Gift Aid spreadsheet:
      </p>

      <ol class="govuk-list govuk-list--number">
         <li>Download a <a href="https://www.gov.uk/government/publications/gift-aid-schedule-spreadsheets-to-claim-back-tax-on-donations" class="govuk-link">Gift Aid spreadsheet</a>.</li>
         <li>Complete the spreadsheet and save it as an Open Document Spreadsheet (.ods) file to your computer.</li>
         <li>Select ‘Choose file’ and select the saved spreadsheet file from your computer to attach it to this claim.</li>
         <li>Select ‘Next’.</li>
      </ol>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Upload a file"
          }
        }) }}

        <h2 class="govuk-heading-m">Additional spreadsheet guidance</h2>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
          <p>
            <strong>General Rules</strong>
          </p>
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
      <ul class="govuk-list govuk-list--bullet">
          <li>one charity controls another</li>
          <li>two or more charities are under common control</li>
          <li>control links a number of charities - for example, if Charity A controls Charity B and Charity B controls Charity C, then all 3 charities are connected</li>
          <li>Do not included blank spaces or other charaters at the start or end of a field</li>
          <li>Do not leave blank rows between donations</li>
          <li>Stay with the maxinum of 1,000 rows of donations</li>
      </ul>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
          <p>
            <strong>Donation Types</strong>
          </p>
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
      <p>
        Regular Donations:
      </p>
      <p>
        This is when an individual has donated multiple times within the same accounting period. In this case, individual donations can be added together in the ‘Amount’ box of the spreadsheet. Only enter the date of the most recent donation.
      </p>

      <p>
        Aggreagted Donations:
      </p>
      <p>
        These are donations under £20 from different people totalling less than £1000 per line. When submitting this type of donation make sure:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>donations associated with admissions to charity visitor attractions are not included, as they are not applicable in this field</li>
          <li>to only add together donations that were made within the same accounting period</li>
          <li>when you add together donations from the same donor, you must leave the aggregated donations column blank</li>
      </ul>

      <p>
        Sponsored Events:
      </p>
      <p>
        If you fill this field you do not need to include details of individual donors, unless an individual gives more than £500. Donations over £500 from a sponsored event must be shown separately as normal Gift Aid donations.
      </p>
      <p>
        A donors address can be place of work or home address. If the donor is a child taking part in a school event, the school address can be used.
      </p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
          <p>
            <strong>Field Specific Rules</strong>
          </p>
        </span>
      </h2>
    </div>
    <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
      <p>
        Title:
      </p>
      <p>
        Enter 4 charaters or less. E.g. Professor is incorrect as it has more than 4 characters, change to Prof.
      </p>

      <p>
        First Name or inital:
      </p>
      <p>
        Enter 35 charaters or less. Do not input spaces. E.g. Instead of Smith Davis, replace with Smith-Davis (replace space with hyphen in field) or SD (change to initial and remove space).
      </p>

      <p>
        Last Name:
      </p>
      <p>
        Enter 35 charaters or less.
      </p>

      <p>
        House name or number:
      </p>
      <p>
        Enter 40 charaters or less. Enter the house name or number of all donors that live in the UK. Enter the city name of all donors the live outside the UK.
      </p>

      <p>
        Address:
      </p>
      <p>
        Enter the postcode of all donors that live in the UK. Type X in the postcode field of the address section, for all donors living abroad. Postcode must be capitalised and have a space in the middle, e.g. instead of s192bd, replace with S19 2BD.
      </p>

      <p>
        Aggregated donations:
      </p>
      <p>
        Enter 35 characters or less. Enter a simple description, e.g. ‘Thursday club donors’. Do not enter ‘yes’ or ‘not applicable’.
      </p>
      <p>
        If you fill in this field:
      </p>
      <ul class="govuk-list govuk-list--bullet">
          <li>you must not enter a donor’s name and address</li>
          <li>you must enter the date of the last donation and the total amount raised</li>

      <p>
        Sponsored Events:
      </p>
      <p>
        Only enter ‘yes’ or leave field blank.
      </p>

      <p>
        Donation Date:
      </p>
      <p>
        The date must be formatted with (DD/MM/YY). Only include numbers. E.g. 1st February 2023 is formatted (01/02/23).
      </p>

      <p>
        Amount:
      </p>
      <p>
        Do not enter £ sign. Show amount to 2 decimal places. E.g. instead of entering £200, replace with 200.00.
      </p>

      </ul>
    </div>
  </div>
</div>

        <div class="govuk-button-group">
          <a class="govuk-button govuk-button--primary" href="gas-schedule-upload-error-test">Next</a>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
        </div>

    </div>
  </div>
{% endblock %}
