{% extends "layout.html" %}

{% block pageTitle %}
  Attach Gift Aid schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}


{% block content %}
<div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#earliest-donation-date">Enter the earliest donation date in the period of claim</a>
        </li>
        <li>
          <a href="#postcode-format">Postcode must be capitalised with a space in the middle. For example S19 2BD.</a>
        </li>
        <li>
          <a href="#donation-date-format">Donation date format must be DD/MM/YY</a>
        </li>
        <li>
          <a href="#aggregated-donations-error">For an aggregated donation entry, do not provide donor title, first name, last name, house name or number or postcode details</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>

    <h1 class="govuk-heading-xl">Errors in Gift Aid spreadsheet</h1>

      <p>Correct all the errors shown below in the Gift Aid spreadsheet saved on your computer. Then select the 'Attach an updated Gift Aid schedule' button below to continue with your claim. This will replace the incorrect Gift Aid schedule you previously attached.</p>

      <h2 class="govuk-heading-l">Error details</h2>

      <!-- Item 1 -->

      <p class="govuk-error-message" id="earliest-donation-date">Enter the earliest donation date in the period of claim</p>

      <p class="govuk-!-margin-bottom-9">This error is found in row <strong>13</strong>.</p>

      <!-- Error 2 -->

      <p class="govuk-error-message" id="postcode-format">Postcode must be capitalised with a space in the middle. For example S19 2BD.</p>

      <p>This error is found in rows <strong>25</strong> and <strong>26</strong>. Below is the error in row <strong>25</strong>. </p>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Title</th>
            <th scope="col" class="govuk-table__header">First name</th>
            <th scope="col" class="govuk-table__header">Last name</th>
            <th scope="col" class="govuk-table__header">House name or number</th>
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Aggregated donations</th>
            <th scope="col" class="govuk-table__header">Sponsored event</th>
            <th scope="col" class="govuk-table__header">Donation date</th>
            <th scope="col" class="govuk-table__header">Amount (£)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mr</td>
            <td class="govuk-table__cell">Sam</td>
            <td class="govuk-table__cell">White</td>
            <td class="govuk-table__cell">Flat 14</td>
            <td class="govuk-table__cell" style="border-width: .25rem; border-color: #d4351c"><p class="govuk-error-message">(ERROR) nw11aA</p></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">14/11/22</td>
            <td class="govuk-table__cell">1432.00</td>
          </tr>
        </tbody>
      </table>


            <!-- Error 3 -->

            <p class="govuk-error-message" id="donation-date-format">Donation date format must be DD/MM/YY</p>

            <p>This error is found in rows <strong>27 to 30</strong>. Below is the error in row <strong>27</strong>.</p>

            <table class="govuk-table govuk-!-margin-bottom-9">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header">Title</th>
                  <th scope="col" class="govuk-table__header">First name</th>
                  <th scope="col" class="govuk-table__header">Last name</th>
                  <th scope="col" class="govuk-table__header">House name or number</th>
                  <th scope="col" class="govuk-table__header">Postcode</th>
                  <th scope="col" class="govuk-table__header">Aggregated donations</th>
                  <th scope="col" class="govuk-table__header">Sponsored event</th>
                  <th scope="col" class="govuk-table__header">Donation date</th>
                  <th scope="col" class="govuk-table__header">Amount (£)</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">Mr</td>
                  <td class="govuk-table__cell">Tom</td>
                  <td class="govuk-table__cell">A. Gaines</td>
                  <td class="govuk-table__cell">4 The Pines</td>
                  <td class="govuk-table__cell">GU2 9NW</td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell"></td>
                  <td class="govuk-table__cell" style="border-width: .25rem; border-color: #d4351c"><p class="govuk-error-message">(ERROR) 24/11/20022</p></td>
                  <td class="govuk-table__cell">3674.00</td>
                </tr>
              </tbody>
            </table>

      <!-- Error 4 -->

      <p class="govuk-error-message" id="aggregated-donations-error">For an aggregated donation entry, do not provide donor title, first name, last name, house name or number or postcode details</p>

      <p>This error is found in rows <strong>31</strong>. Below is the error in row <strong>31</strong>.</p>

      <table class="govuk-table govuk-!-margin-bottom-9">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Title</th>
            <th scope="col" class="govuk-table__header">First name</th>
            <th scope="col" class="govuk-table__header">Last name</th>
            <th scope="col" class="govuk-table__header">House name or number</th>
            <th scope="col" class="govuk-table__header">Postcode</th>
            <th scope="col" class="govuk-table__header">Aggregated donations</th>
            <th scope="col" class="govuk-table__header">Sponsored event</th>
            <th scope="col" class="govuk-table__header">Donation date</th>
            <th scope="col" class="govuk-table__header">Amount (£)</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">Mr</td>
            <td class="govuk-table__cell">Bilal</td>
            <td class="govuk-table__cell">Muhammed</td>
            <td class="govuk-table__cell">17</td>
            <td class="govuk-table__cell">MK7 7FR</td>
            <td class="govuk-table__cell" style="border-width: .25rem; border-color: #d4351c"><p class="govuk-error-message">(ERROR) Neighbourhood Fundraiser</p></td>
            <td class="govuk-table__cell"></td>
            <td class="govuk-table__cell">25/11/22</td>
            <td class="govuk-table__cell">150.00</td>
          </tr>
        </tbody>
      </table>

      <div class="govuk-button-group">
        <a href="/DELETEgas-schedule-upload-2" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
          Attach an updated Gift Aid schedule
        </a>

        <a href="/repayment-claim-summary" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Repayment claim summary
        </a>
      </div>

      <div>
        <a href="" class="govuk-link govuk-link--no-visited-state"> <svg width="18" height="18" viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg"><title>icon-print</title><path d="M13.412 6.147H4.47v-4.47C4.47.75 5.22 0 6.147 0h5.588c.926 0 1.677.75 1.677 1.676v4.47zm4.47-.559v7.265c0 .926-.75 1.676-1.676 1.676h-1.118v1.677c0 .925-.75 1.676-1.676 1.676H4.47c-.926 0-1.677-.75-1.677-1.676v-1.677H1.676C.751 14.53 0 13.78 0 12.853V5.588c0-.926.75-1.676 1.676-1.676h1.118v3.911h12.294V3.912h1.118c.925 0 1.676.75 1.676 1.676zm-5.03 6.147H5.03v3.912h7.824v-3.912z"/></svg>
          Print or save page</a>
      </div>
  </div>
</div>

{% endblock %}
