{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

          <span class="govuk-caption-xl">CHARITY TC088</span>
          <dl>
          <span class="govuk-caption-xl">HMRC charities reference:</span>
          <span class="govuk-caption-xl govuk-!-margin-left-9 govuk-!-margin-bottom-5">XR4010</span>
          <h1 class="govuk-heading-xl">Gift Aid Small Donations Scheme (GASDS) schedule</h1>

          <h2 class="govuk-heading-m">
            Donation Details
          </h2>

          <p class="govuk-body">
            Use this page to claim for payments under the Gift Aid Small Donations Scheme (GASDS). This is separate from your Gift Aid claim.
          </p>

          <p class="govuk-body">
            The GASDS is for small cash donations of £20 or less that the charity or Community Amateur Sports Club that you do not have a Gift Aid declaration for. It only applies to donations you have received since 6 April 2013.
          </p>

          <p class="govuk-body">
            If you are only claiming under Gift Aid you must not complete any of the boxes on this page. You should return to the 'Repayment Claim Details' screen and answer 'No' to the question' Are you claiming under GASDS?'
          </p>

          <p class="govuk-body">
            Indicates required information *
          </p>

          {% from "govuk/components/input/macro.njk" import govukInput %}

          {{ govukInput({
            label: {
              text: "Tax year 1 ending 5 April:* (optional)",
              classes: "govuk-body",
              isPageHeading: true
            },
            hint: {
              text: "eg yyyy"
            },
            id: "event-name",
            name: "event-name"
          }) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help about: Tax year - Current",
  text: "Need Ali & Sarah help here, please update accordingly."
}) }}



<p class="govuk-body">
  Amount of donations on which you are claiming a top up payment under GASDS. Do not include any donations collected in a community building:* (optional)
</p>

{% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  id: "cost",
  name: "cost",
  label: {
    text: "",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help about: Donations total",
  text: "Need Ali & Sarah help here, please update accordingly."
}) }}

<p class="govuk-body">
  Do you want to make a claim for second tax year?* (optional)
</p>

{% from "govuk/components/select/macro.njk" import govukSelect %}

{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "sort",
  name: "sort",
  label: {
    text: ""
  },
  items: [
    {
      value: "published",
      text: "Recently published"
    },
    {
      value: "updated",
      text: "Recently updated",
      selected: true
    },
    {
      value: "views",
      text: "Most views"
    },
    {
      value: "comments",
      text: "Most comments"
    }
  ]
}) }}

{{ govukInput({
  id: "gift-aid-adjustment",
  name: "gift-aid-adjustment",
  label: {
    text: "Adjustment for Gift Aid previously claimed: (optional)",
    classes: "govuk-body govuk-!-margin-bottom-4",
    isPageHeading: true
  },
  prefix: {
    text: "£"
  },
  classes: "govuk-input--width-5",
  spellcheck: false
}) }}

{% from "govuk/components/details/macro.njk" import govukDetails %}

{{ govukDetails({
  summaryText: "Help with: Top up payment over claimed",
  text: "Need Ali & Sarah help here, please update accordingly."
}) }}

<p class="govuk-body">
  'Next' automatically saves your data.'
</p>

<div class="govuk-button-group">
  <button class="govuk-button" data-module="govuk-button">
    Next
  </button>

  <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
    Repayment Claim Summary
  </button>

    </div>
  </div>


    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://local.tax.service.gov.uk/home">
                Your HMRC services
              </a>
          </li>
        </ul>

              <ul class="govuk-list govuk-!-font-size-16">
                <li><p class="govuk-body govuk-!-font-weight-bold">Charity repayment claim</p></li>
                <li>
                  <a href="#">
                    At a glance
                  </a>
                </li>

                <li>
                  <a href="#">
                    Continue with charity repayment claim
                  </a>
                </li>

                <li>
                  <a href="#">
                    About the organisation
                  </a>
                </li>

                <li>
                  <a href="#">
                    Attach Gift Aid schedule
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-font-weight-bold">
                    Gift Aid Small Donations Scheme schedule
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-padding-left-5 govuk-!-font-size-16 govuk-!-font-weight-bold">
                    Donation Details
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-padding-left-5">
                    Attach community buildings schedule
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-padding-left-5">
                    Attach connected charities schedule
                  </a>
                </li>

                <li>
                  <a href="#">
                    FAQs
                  </a>
                </li>
          </ul>
        </nav>
      </aside>

    </div>


{% endblock %}
