{% extends "layout.html" %}

{% block pageTitle %}
  Gift Aid Small Donations Scheme schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}

<!-- Function for data passthrough for Adjustment for Gift Aid previously over-claimed fields -->
<body onload="adjustmentToGasdsGroupOnLoad()">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Make a Gift Aid Small Donations Scheme (GASDS) claim</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">


    <!-- Data passthrough for Adjustment for Gift Aid previously over-claimed fields -->
    <input id="adjustment-to-gasds-task-show" name="adjustment-to-gasds-task-show" value="{{ data['adjustment-to-gasds-select'] }}" style="display: none;">

    <p class="govuk-body">
      You have selected to claim a repayment of tax on GASDS donations. This is separate from your Gift Aid claim.
    </p>

    <p class="govuk-body">
      If you do not want to complete this type of claim, you can remove it by going to the <a href="/about-the-charity" class="govuk-link">Claim details</a> page and answering ‘No’ to either:
    </p>

    <ul class="govuk-list govuk-list--bullet">
      <li>‘Are you claiming a top up payment under GASDS for donations that were not collected in a community building?’</li>
      <li>‘Are you claiming a top up payment for small cash donations under Gift Aid Small Donations Scheme (GASDS)?’</li>
    </ul>

    <p class="govuk-body">
      The GASDS is for small donations of £30 or less that the charity or community amateur sports club (CASC) has received that you do not have a Gift Aid declaration for. It only applies to donations you have received within 2 years of the end of the tax year that the donations were collected in.
    </p>

    <form class="form" action="/repayment-claim-summary" method="post" id="gasds-details-form">

      <!-- Tax year 1 ending 5 April: -->

      <div class="govuk-form-group" id="tax-year-one-end-group">
        <label class="govuk-label govuk-label--s" for="tax-year-one-end-input">
          Tax year 1 ending 5 April:
        </label>
        <p class="govuk-error-message" id="tax-year-one-end-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
        </p>
        <div id="event-name-hint" class="govuk-hint">
          For example, 2022
        </div>
        <input class="govuk-input" id="tax-year-one-end-input" name="tax-year-one-end-input" type="text" aria-describedby="event-name-hint" maxlength="4" minlength="4">
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Is my tax year eligible under GASDS?
          </span>
          </summary>
          <div class="govuk-details__text">
            <p>GASDS only applies to donations you have received within 2 years of the end of the tax year that the donations were collected in.</p>

            <p>For example, if you received a donation on January 1 2020, the end of the tax year is April 5 2020. This means you need to claim this donation by April 5 2022.</p>
          </div>
        </details>
      </div>

      <!-- YEAR 1: Amount of donations on which you are claiming a top up payment under GASDS. -->

      <div class="govuk-form-group" id="donation-top-up-amount-year-one-group">
        <label class="govuk-label govuk-label--s" for="donation-top-up-amount-year-one-input">
          Amount of donations on which you are claiming a top up payment under GASDS.
          </label>
          <p class="govuk-error-message" id="donation-top-up-amount-year-one-error-message" style="display: none">
            <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
          </p>
          <div id="account-number-hint" class="govuk-hint">
            Do not include any donations collected in a community building
          </div>
        <div class="govuk-input__wrapper">
          <div class="govuk-input__prefix" aria-hidden="true">£</div>
          <input class="govuk-input govuk-input--width-5" id="donation-top-up-amount-year-one-input" name="donation-top-up-amount-year-one-input" type="text" spellcheck="false">
        </div>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What amount of donations can I claim under GASDS?
          </span>
          </summary>
          <div class="govuk-details__text">
            <p>You can claim up to 25% of GASDS donations. The maximum donation total you can submit a claim for under the GASDS in one tax year is £8,000. Your charity or CASC would recieve a payment of £2,000 from a maximum £8,000 GASDS claim.</p>
          </div>
        </details>
      </div>

      <!-- Do you want to make a claim for second tax year? -->

      <div class="govuk-form-group" id="claim-second-tax-year-group">
        <label class="govuk-label govuk-label--s" for="claim-second-year-tax-select">
          Do you want to make a claim for second tax year?
        </label>
        <p class="govuk-error-message" id="claim-second-tax-year-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
        </p>
        <select class="govuk-select" id="claim-second-tax-year-select" name="claim-second-tax-year-select" onchange="secondTaxYearOnChange(this)">
          <option value="default" selected>Please select</option>
          <option value="yes">Yes</option>
          <option value="no">No</option>
        </select>
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Is my tax year eligible under GASDS?
            </span>
          </summary>
          <div class="govuk-details__text">
          <p>You can only make a claim under the GASDS for donations received in the current tax year or the two previous tax years.</p>
          </div>
        </details>
      </div>

      <div id="second-tax-year" style="display: none">
        <!-- Tax year 2 ending 5 April -->

        <p class="govuk-body">If you indicated that you want to make a claim for another tax year, you must provide the following information.</p>

        <div class="govuk-form-group" id="tax-year-two-end-group">
          <label class="govuk-label govuk-label--s" for="tax-year-two-end-input">
            Tax year 2 ending 5 April:
          </label>
          <p class="govuk-error-message" id="tax-year-two-end-error-message" style="display: none">
            <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
          </p>
          <div id="event-name-hint" class="govuk-hint">
            For example, 2021
          </div>
          <input class="govuk-input" id="tax-year-two-end-input" name="tax-year-two-end-input" type="text" aria-describedby="event-name-hint" maxlength="4" minlength="4">
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Is my tax year eligible under GASDS?
            </span>
            </summary>
            <div class="govuk-details__text">
              <p>GASDS only applies to donations you have received within 2 years of the end of the tax year that the donations were collected in.</p>

              <p>For example, if you received a donation on January 1 2020, the end of the tax year is April 5 2020. This means you need to claim this donation by April 5 2022.</p>
            </div>
          </details>
        </div>

        <!-- YEAR 2: Amount of donations on which you are claiming a top up payment under GASDS.  -->

        <div class="govuk-form-group" id="donation-top-up-amount-year-two-group">
          <label class="govuk-label govuk-label--s" for="donation-top-up-amount-year-two-input">
            Amount of donations on which you are claiming a top up payment under GASDS.
            </label>
            <p class="govuk-error-message" id="donation-top-up-amount-year-two-error-message" style="display: none">
              <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
            </p>
            <div id="account-number-hint" class="govuk-hint">
              Do not include any donations collected in a community building:
            </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="donation-top-up-amount-year-two-input" name="donation-top-up-amount-year-two-input" type="text" spellcheck="false">
          </div>
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What amount of donations can I claim under GASDS?
            </span>
            </summary>
            <div class="govuk-details__text">
              You can claim up to 25% of GASDS donations. The maximum donation total you can submit a claim for under the GASDS in one tax year is £8,000. Your charity or CASC would recieve a payment of £2,000 from a maximum £8,000 GASDS claim.
            </div>
          </details>
        </div>

        <!-- Do you want to make a claim for third tax year? -->

        <div class="govuk-form-group" id="claim-third-tax-year-group">
          <label class="govuk-label govuk-label--s" for="claim-third-tax-year-select">
            Do you want to make a claim for third tax year?
          </label>
          <p class="govuk-error-message" id="claim-third-tax-year-error-message" style="display: none">
            <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
          </p>
          <select class="govuk-select" id="claim-third-tax-year-select" name="claim-third-tax-year-select" onchange="thirdTaxYearOnChange(this)">
            <option value="default" selected>Please select</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Is my tax year eligible under GASDS?
              </span>
            </summary>
            <div class="govuk-details__text">
            <p>You can only make a claim under the GASDS for donations received in the current tax year or the two previous tax years.</p>
            </div>
          </details>
        </div>
    </div>

    <div id="third-tax-year" style="display: none">

      <!-- Tax year 3 ending 5 April -->

      <div class="govuk-form-group" id="tax-year-three-end-group">
        <label class="govuk-label govuk-label--s" for="tax-year-three-end-input">
          Tax year 3 ending 5 April:
        </label>
        <p class="govuk-error-message" id="tax-year-three-end-error-message" style="display: none">
          <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
        </p>
        <div id="event-name-hint" class="govuk-hint">
          For example, 2020
        </div>
        <input class="govuk-input" id="tax-year-three-end-input" name="tax-year-three-end-input" type="text" aria-describedby="event-name-hint" maxlength="4" minlength="4">
        <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
          <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            Is my tax year eligible under GASDS?
          </span>
          </summary>
          <div class="govuk-details__text">
            <p>GASDS only applies to donations you have received within 2 years of the end of the tax year that the donations were collected in.</p>

            <p>For example, if you received a donation on January 1 2020, the end of the tax year is April 5 2020. This means you need to claim this donation by April 5 2022.</p>
          </div>
        </details>
      </div>

      <!-- YEAR 3: Amount of donations on which you are claiming a top up payment under GASDS.  -->

        <div class="govuk-form-group" id="donation-top-up-amount-year-three-group">
          <label class="govuk-label govuk-label--s" for="donation-top-up-amount-year-three-input">
            Amount of donations on which you are claiming a top up payment under GASDS.
            </label>
            <p class="govuk-error-message" id="donation-top-up-amount-year-three-error-message" style="display: none">
              <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
            </p>
            <div id="account-number-hint" class="govuk-hint">
              Do not include any donations collected in a community building:
            </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="donation-top-up-amount-year-three-input" name="donation-top-up-amount-year-three-input" type="text" spellcheck="false">
          </div>
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What amount of donations can I claim under GASDS?
            </span>
            </summary>
            <div class="govuk-details__text">
              You can claim up to 25% of GASDS donations. The maximum donation total you can submit a claim for under the GASDS in one tax year is £8,000. Your charity or CASC would recieve a payment of £2,000 from a maximum £8,000 GASDS claim.
            </div>
          </details>
        </div>
      </div>

      <!-- Adjustment for Gift Aid previously over-claimed:  -->

      <div id="adjustment-to-gasds-group" style="display: none">

        <p class="govuk-body">If you have claimed too much under GASDS in a previous claim, you must enter the amount of overclaimed top-up payment here. This amount will be deducted from this claim.</p>

        <div class="govuk-form-group" id="adjustment-for-gift-aid-group">
          <label class="govuk-label govuk-label--s" for="adjustment-for-gift-aid-input">
            Adjustment for Gift Aid previously over-claimed:
            </label>
            <p class="govuk-error-message" id="adjustment-for-gift-aid-error-message" style="display: none">
              <span class="govuk-visually-hidden">ERROR:</span> You must make a selection.
            </p>
            <div id="account-number-hint" class="govuk-hint">
              This amount will be deducted from this claim. Only enter the amount of tax overclaimed, not the total value of donations.
            </div>
          <div class="govuk-input__wrapper">
            <div class="govuk-input__prefix" aria-hidden="true">£</div>
            <input class="govuk-input govuk-input--width-5" id="adjustment-for-gift-aid-input" name="adjustment-for-gift-aid-input" type="text" spellcheck="false">
          </div>
          <details class="govuk-details" data-module="govuk-details" style="margin-top: 5px;">
            <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              Help about: Top up payment over claimed
            </span>
            </summary>
            <div class="govuk-details__text">
              <p>Some claims can have errors in which a charity or CASC receives more than their entitled amount for a GASDS claim.  If this is the case, the tax overclaimed can be inputted in this field.</p>
              <p>If the overpaid amount is less than the current repayment claim, it will be deducted from the total amount of this claim.</p>
              <p>If the overpaid amount is more than the repayment claim you are making, then you will need to make an additional payment to HMRC.</p>
            </div>
          </details>
        </div>
      </div>

      <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
          Next
        </button>

        <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
      </div>
    </form>
  </div>

</div>
</body>
{% endblock %}
