{% extends "layout.html" %}

{% block pageTitle %}
  At a glance - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Make a charity repayment claim</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      To make a charity repayment claim using the Charities Online service, select the button below.
    </p>

    <a class="govuk-button govuk-button--primary" href="about-the-charity">Make a charity repayment claim</a>

      <!-- <ul class="govuk-list govuk-list--bullet">
        <li><a href="/repayment-claim-summary" class="govuk-link govuk-link--no-visited-state">Make a charity repayment claim</a></li>
      </ul> -->

      <p class="govuk-body">
        You can also make a charity repayment claim using <a href="http://www.hmrc.gov.uk/efiling/charities/soft_dev.htm" class="govuk-link">commercial software</a>.
      </p>

      <h2 class="govuk-heading-m">
        Before you start a claim
      </h2>

      <p class="govuk-body">You need to complete a spreadsheet to make a claim on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Gift Aid donations</li>
        <li>tax relief you are claiming back on ‘other income’</li>
        <li>connected charities donations</li>
        <li>community buildings donations</li>
      </ul>

      <p>Before you start your claim, <a href="https://www.gov.uk/guidance/schedule-spreadsheet-to-claim-back-tax-on-gift-aid-donations">download and complete the appropriate spreadsheet</a>, based on what you want to claim for. </p>

      <p>Each spreadsheet contains instructions to help you fill it in correctly.</p>

      <p>You can include a maximum of 1,000 donations in each spreadsheet.</p>

      <p>There is guidance available on <a href="https://www.gov.uk/claim-gift-aid">claiming Gift Aid as a charity of community amateur sports club (CASC)</a>. </p>

  </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-m" id="subsection-title">
        Charity repayment claim
      </h2>
      <aside class="app-related-items" role="complementary">

        <nav role="navigation" aria-labelledby="subsection-title">
              <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="/about-the-charity" class="govuk-link govuk-link--no-visited-state">
                    Make a charity repayment claim
                  </a>
                </li>

                <li>
                  <a href="https://www.development.tax.service.gov.uk/information/faqs/charities" class="govuk-link govuk-link--no-visited-state">
                    FAQs
                  </a>
                </li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>
{% endblock %}
