{% extends "layout.html" %}

{% block pageTitle %}
  At a glance - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4011</span>
    </dl>
    <h1 class="govuk-heading-xl">Make a charity repayment claim</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <a class="govuk-button govuk-button--primary" href="about-the-charity">Make a claim</a>

      <!-- <ul class="govuk-list govuk-list--bullet">
        <li><a href="/repayment-claim-summary" class="govuk-link govuk-link--no-visited-state">Make a charity repayment claim</a></li>
      </ul> -->

      <p class="govuk-body">
        You can also make a claim using <a href="http://www.hmrc.gov.uk/efiling/charities/soft_dev.htm" class="govuk-link">commercial software</a>.
      </p>

      <h2 class="govuk-heading-m">
        Before you start a claim
      </h2>

      <p class="govuk-body">You need to complete a spreadsheet to make a claim on:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>Gift Aid donations</li>
        <li>tax relief you are claiming back on other income</li>
        <li>Gift Aid Small Donations Scheme (GASDS) connected charities donations </li>
        <li>GASDS community buildings donations</li>
      </ul>

      <p>You do not need to submit a spreadsheet to claim GASDS donations that were not collected in a community building.</p>

      <p>Before you start your claim, we reccomend that you <a href="https://www.gov.uk/government/publications/gift-aid-schedule-spreadsheets-to-claim-back-tax-on-donations">download and complete the appropriate spreadsheet</a>, based on what you want to claim for. </p>

      <p>There is guidance available on <a href="https://www.gov.uk/claim-gift-aid">claiming Gift Aid as a charity or community amateur sports club (CASC)</a>. For further guidance, contact the Charities helpline on telephone number 0300 123 1073.</p>

  </div>
</div>
{% endblock %}
