{% extends "layout.html" %}

{% block pageTitle %}
  Attach Gift Aid schedule – {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Attach other income spreadsheet</h1>
  </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        You have selected to claim a repayment of tax on other income donations. If you do not want to make this type of claim, you can remove it by answering ‘No’ to the question ‘Are you claiming UK tax deducted from other income?’ in the <a href="http://localhost:3000/about-the-charity" class="govuk-link">Claim details</a> page.
      </p>

      <p class="govuk-body">
        Other income is a repayment of tax from:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>bank and building society interest </li>
        <li>interest from government stocks</li>
        <li>income from wayleaves, for example, sums paid by a utility company for the right to put cables across a piece of land</li>
        <li>royalties</li>
        <li>other types of annual payment</li>
        <li>estate income</li>
        <li>discretionary trust income</li>
      </ul>

      <p class="govuk-body">
        To make a claim, you must fill out a other income spreadsheet. Your claim must be supported by details of each payer, the gross value of the payment and the tax deducted from each payment.
      </p>

      <p class="govuk-body">
        We recommend you read the <a href="https://www.gov.uk/guidance/schedule-spreadsheet-to-reclaim-tax-on-interest-and-other-income" class="govuk-link">other income spreadsheet guidance</a> before you complete and save your spreadsheet.
      </p>

      <h2 class="govuk-heading-m">Complete and attach a spreadsheet</h2>

      <ol class="govuk-list govuk-list--number">
         <li>Download a <a href="https://www.gov.uk/government/publications/gift-aid-schedule-spreadsheets-to-claim-back-tax-on-donations" class="govuk-link">other income spreadsheet</a>.</li>
         <li>Complete the spreadsheet and save it as an Open Document Spreadsheet (.ods) file to your computer.</li>
         <li>Select ‘Choose file’ and select the saved spreadsheet file from your computer to attach it to this claim.</li>
         <li>Select ‘Next’.</li>
      </ol>

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}

        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Attach a file"
          }
        }) }}

        <div class="govuk-button-group">
          <a class="govuk-button govuk-button--primary" href="repayment-claim-summary">Next</a>

          <a class="govuk-button govuk-button--secondary" href="repayment-claim-summary">Repayment claim summary</a>
        </div>

    </div>
  </div>
{% endblock %}
