{% extends "layout.html" %}

{% block pageTitle %}
  Task list template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4010</span>
    </dl>
    <h1 class="govuk-heading-xl">Repayment claim summary</h1>
  </div>
  </div>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Application incomplete</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 3 of 8 sections.</p>

      <p class="govuk-body">
        You have not completed all the required sections of your claim. You must complete all the sections shown below with an arrow or cross beside them before you can finalise your claim.
      </p>

      <p class="govuk-body">
        To complete, view or amend a section, please follow the relevant link in the 'Status' column or click the 'Next' button to start completing the first section.
      </p>

      <p class="govuk-body">
        To delete this charity repayment claim click the 'Delete' button.
      </p>
       
      <ol class="app-task-list">
        
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> 
            Question about this claim
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="eligibility-status">
                  Repayment claim details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag" id="eligibility-status">Completed</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> About the organisation
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="company-information-status">
                  Organisation details
                </a>
              </span>
              <strong class="govuk-tag govuk-tag--green app-task-list__tag"  id="company-information-status">Completed</strong>
            </li>
            </ul>
          </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Gift Aid schedule
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Attach Gift Aid schedule
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Incomplete</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number"></span> Other income schedule
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Attach other income schedule
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Incomplete</strong>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
          <span class="app-task-list__section-number"></span> 
          Gift Aid Small Donations Scheme schedule
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Donation details
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Incomplete</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Attach community buildings schedule
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Incomplete</strong>
            </li>

            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                Attach connected charities schedule
              </span>
              <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Incomplete</strong>
            </li>
          </ul>
        </li>
      </ol>
    </div>

    <div class="govuk-grid-column-one-third">

      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://local.tax.service.gov.uk/home">
                Your HMRC services
              </a>
          </li>
        </ul>

              <ul class="govuk-list govuk-!-font-size-16">
                <li><p class="govuk-body govuk-!-font-weight-bold">Charity repayment claim</p></li>
                <li>
                  <a href="#">
                    At a glance
                  </a>
                </li>

                <li>
                  <a href="#">
                    Continue with charity repayment claim
                  </a>
                </li>

                <li>
                  <a href="#">
                    About the organisation
                  </a>
                </li>

                <li>
                  <a href="#">
                    Attach Gift Aid schedule
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-font-weight-bold">
                    Gift Aid Small Donations Scheme schedule
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-padding-left-5 govuk-!-font-size-16 govuk-!-font-weight-bold">
                    Donation Details
                  </a>
                </li>

                <li>
                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-padding-left-5">
                    Attach community buildings schedule
                  </a>
                </li>


                  <a href="#"><p class="govuk-!-font-size-16 govuk-!-padding-left-5">
                    Attach connected charities schedule
                  </a>


                <li>
                  <a href="#">
                    FAQs
                  </a>
                </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}
