{% extends "layout.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}

  <!-- Microsoft Clarity Script -->
  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ey78wl1udc");
</script>

{% endblock %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Verify your identity
      </h1>

      <p>You need to sign in using Government Gateway details again to verify your identity. This must be done before submitting a claim. </p>

      <p>We have saved all the information you have entered for this claim.</p>

      <p>If you want to check the data in your claim, you can return to the Repayment claim summary page.</p>

    </div>
  </div>

  <div class="govuk-button-group">
    <a href="/sign-in" role="button" draggable="false" class="govuk-button govuk-button--primary" data-module="govuk-button">
      Verify identity
    </a>
    <a href="/repayment-claim-summary" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      Repayment claim summary
    </a>
  </div>

{% endblock %}
