{% extends "layout.html" %}

{% block pageTitle %}
  At a glance - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CHARITY TC088</span>
    <dl>
      <span class="govuk-caption-xl">HMRC charities reference:
        XR4011</span>
    </dl>
    <h1 class="govuk-heading-xl">Check if you need to register your charity</h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <p class="govuk-body">
      Our records show you have made claims for Gift Aid repayments on donations over £5,000 in the last 12 months.
    </p>

    <p class="govuk-body">
      You must <a href="https://www.gov.uk/setting-up-charity/register-your-charity">register your charity</a> if:
    </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>income is at least £5,000 per year or you are a charitable incorporated organisation (CIO)</li>
        <li>you are based in England or Wales</li>
      </ul>

    <p class="govuk-body">
      The rules are different for <a href="https://www.oscr.org.uk/becoming-a-charity/">registering in Scotland</a> and <a href="http://www.charitycommissionni.org.uk/start-up-a-charity/">registering in Northern Ireland</a
    </p>

    <p class="govuk-body">
      If you need to register your charity you should pause or delete your claim. Only continue after registering your charity.
    </p>

    <p class="govuk-body">
      Click ‘Next’ if you are confident that your annual income is below £5,000 and you do not need to register.
    </p>

    <div class="govuk-button-group">
        <button class="govuk-button" data-module="govuk-button">
        Next
        </button>
        <a class="govuk-button govuk-button--secondary" href="/index">Repayment claim summary</a>
        <!-- <button class="govuk-button govuk-button--secondary" data-module="govuk-button" href="repayment-claim-summary">
        Repayment Claim Summary
        </button> -->
    </div>

  </div>


  </div>
{% endblock %}
