{% extends "layout.html" %}

{% block pageTitle %}
  Attach community buildings schedule - {{ serviceName }}
{% endblock %}

{% block header %}
  {{ govukHeader({
    serviceName: serviceName
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <span class="govuk-caption-xl">CHARITY TC088</span>
      <dl>
        <span class="govuk-caption-xl">HMRC charities reference:
          XR4010</span>
      </dl>

      <h1 class="govuk-heading-l">Delete section of claim</h1>

      <p>All data in the section you are removing will be deleted. Do you want to continue?</p>

        <div class="govuk-button-group">
          <a href="index.html" role="button" draggable="false" class="govuk-button govuk-button--warning" data-module="govuk-button">
            Delete section
          </a>
          <a href="index.html" role="button" draggable="false" class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Cancel
          </a>
        </div>

    </div>
  </div>
{% endblock %}
